.mod-kennisbank-home {
  .item {
    position: relative;
    min-height: 60px;
    margin-bottom: 50px;
    .head {
      margin-bottom: 1rem;
    }
    p {
      margin-top: -8px;
    }
    img {
      width:100%;
      margin-bottom: 20px;
      background-color: $background;
      height: auto;
    }
    .date {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 1rem;
    }
    h3, h3 a {
      font-size: 18px;
      color: $darkgrey;
    }
    h3 a:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}