.mod-nieuws {
  border-bottom: 1px solid #CED0D1;
  margin-bottom: 30px;
  .item {
    display: block;
    border-top: 1px solid #CED0D1;
    padding: 10px 0;
    color: $darkgrey;
    h3 {
      margin-bottom: 0px;
    }
    small {
      margin-top: -6px;
      font-size: 12px;
      display: block;
    }
    p {
      margin: 0 0 6px;
    }
  }
  .item:hover {
    color: $red;
    text-decoration: none;
  }
  .item:focus,
  .item:target,
  .item:active {
    color: lighten( $red, 20% );
    text-decoration: none;
  }
}