.mod-type {
  padding: 10px 0 20px;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 8px;
      float: left;
      a,span {
        color: #2c607d;
        padding-top: 4px;
        font-size: 15px;
        height: 28px;
        padding: 4px 10px 4px;
        margin: 0 10px 10px 0;
        text-decoration: none;
        border-radius: 100px;
        text-transform: lowercase;
        font-weight: 500;
      }
      a:focus {
        text-decoration: none;
      }
      a:hover {
        color: #000;
        text-decoration: none;
      }
    }
    li.active {
      a, a:hover {
        color: #fff;
        background: $darkgrey;
        text-decoration: none;
      }
    }
  }
}